* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f5;
  font-family: 'Sofia Sans', sans-serif;
}

.category-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* NAV */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 4rem 4.8rem;
}

.nav-title {
  font-size: 2rem;
}

.nav-ul, .lang-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.6rem;
  list-style: none;

  color: #212529;
}

.nav-a, .langs {
  text-decoration: none;

  color: #212529;
}

.nav-a:hover, .langs:hover {
  text-decoration: underline;
}

.langs-current {
  font-weight: 700;
}

/* Hero - Start */
.hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;

  padding: 4rem 4.8rem;

  width: 80%;
  margin: 0 auto;
}

.hero-highlight {
  width: 100% !important;

  background-color: #313ef7;
}

.hero-box {
  width: 100%;
  height: 350px;
  padding: 1.6rem;

  background-color: #313ef7;
}

.hero-box:first-child {
  border-radius: 3px 0 0 3px;
}

.hero-box:nth-child(2) {
  background-color: #e4e0fc;
}

.hero-box:last-child {
  background-color: #fe7926;

  border-radius: 0px 3px 3px 0px;
}

.hero-subtitle {
  color: #f1f3f5;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

.hero-title {
  color: #f1f3f5;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.hero-text {
  color: #f3f0ff;
  font-size: 1.4rem;
  font-weight: 400;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 13fr 87fr;

  padding: 4rem 4.8rem;

  width: 80%;
  margin: 0 auto;
}

.about-top {
  font-size: 1.6rem;
  color: #212529;
}

.about-edc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.edc-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.8rem;

  font-size: 1.6rem;
}

.edc-bottom {
  color: #868e96;
  font-size: 1.6rem;
}

.edc-position {
  font-weight: 600;
}

.edc-date {
  text-align: right;
  margin-right: 2.4rem;
}

.about-cr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;

  font-size: 1.6rem;
}

.cr-title {
  color: #212529;
  font-weight: 600;
}

.cr-by {
  padding-bottom: 1.6rem;

  color: #343a40;
}

.cr-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  width: max-content;

  color: #f1f3f5;
  background-color: #3b5bdb;
  border-radius: 3px;

  font-size: 1.2rem;
  text-decoration: none;
}

.cr-btn:hover {
  background-color: #4263eb;
}

.cr-btn:active {
  background-color: #364fc7;
}

/* WORKS */
.experience {
  display: grid;
  grid-template-columns: 13fr 87fr;

  padding: 4rem 4.8rem;

  width: 80%;
  margin: 0 auto;
}

.exp-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.exp {
  padding: 0 1.2rem;
}

.exp-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.8rem;

  font-size: 1.6rem;
}

.exp-mid {
  color: #868e96;
  font-size: 1.6rem;
}

.exp-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.6rem;
  padding-top: 1.2rem;
}

.exp-position {
  font-weight: 600;
}

.exp-link {
  color: #343a40;
  text-decoration: underline;
}

.exp-mid-ul {
  margin-top: 0.4rem;
  margin-left: 2.4rem;
}

.exp-mid-li {

}

.exp-skill-ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  list-style: none;
}

.exp-skill-li {
  padding: 0.6rem 1.6rem;

  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 3px;

  color: #5a65f9;
  background-color: #d6d8fd;
}

/* LINKS */
.links {
  display: grid;
  grid-template-columns: 13fr 87fr;

  padding: 4rem 4.8rem;

  width: 80%;
  margin: 0 auto;
}

.link-title {
  padding-bottom: 0.8rem;
  padding-top: 3.2rem;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

.link-title:first-child {
  padding-top: 0;
}

.link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}


.link-box{
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  color: #212529;

  text-decoration: none;
}

.link-box:hover {
  background-color: #e9ecef;
}

.link-box-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;

  font-size: 1.6rem;
}

.link-box-top p {
  font-size: 1.6rem;
  font-weight: 600;
}

.link-box-top i{
  font-size: 2.4rem;
  color: #212529;
}

.link-box-bottom {
  padding: 0.8rem;

  font-size: 1.4rem;
  color: #868e96;
}

/* END - FOOTER */