:root {
  --gray-9: #212529;
  --gray-8: #343a40;
  --gray-7: #495057;
  --gray-6: #868e96;
  --gray-5: #adb5bd;
  --gray-4: #ced4da;
  --gray-3: #dee2e6;
  --gray-2: #e9ecef;
  --gray-1: #f1f3f5;
  --gray-0: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "indivisible", sans-serif;
}

body {
  background-color: var(--gray-9);
}

  /**********/
 /*  */
/**********/

.big-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px; /* 115.625% */
  letter-spacing: 1px;
}

.body-large {
  font-family: Indivisible;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.25px;
  }

.subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
}

.body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -.025rem;
}

.body-strong {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.body-sm {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.text-title {
  color: var(--gray-1);
}

.text-primary {
  color: var(--gray-3);
}

.text-secondary {
  color: var(--gray-5);
}

.border {
  border: 1px solid var(--gray-8);
}

.radius-7 {
  border-radius: 0.7rem;
}

.radius-4 {
  border-radius: 0.4rem;
}

.radius-round {
  border-radius: 50%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 3.2rem 6.4rem;

  border-bottom: 1px solid var(--gray-8);
}

.surface {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 1.6rem;

  background-color: var(--gray-8);
  border: 1px solid var(--gray-7);
}

  /**********/
 /* HEADER */
/**********/

#header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 3.2rem;

  border-bottom: 1px solid var(--gray-8);

  transition: 300ms;
}

.sticky-header {
  position: fixed;
  width: 100%;
}

.header-cover {
  height: 19.2rem;
}

.header-pfp {
  width: 128px;
  height: 128px;

  margin-left: 1.6rem;
  margin-top: -8.8rem;
}

.header--information {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.header--experiences {
  display: flex;
  flex-direction: row;
  gap: .8rem;
}

.experiences-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .8rem;
  width: 100%;

  margin: 0;
  padding: 1.6rem;
}

.experiences-card-img {
  grid-row: 1 / span 3;
  width: 4.8rem;
  height: 4.8rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.nav-btn {
  padding: 1rem 1.4rem;

  text-decoration: none;
  font-weight: 500;

  transition: 300ms;
}

.nav-btn:hover {
  background-color: rgb(186, 200, 255, 0.48);
}

.nav-btn--selected {
  background-color: #364fc7;
  color: #edf2ff;
}

  /*****************/
 /* ABOUT SECTION */
/*****************/
.about--contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.about--contact-card {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.contact-link {
  text-decoration: none;
}

  /***********************/
 /* EXPERIENCES SECTION */
/***********************/
.experiences--1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .8rem;
}

.experience--2 {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.experience--3 {
  display: grid;
  grid-template-row: auto auto; 
  grid-area: .4rem;
}

.experience--logo {
  grid-row: 1 / span 2;

  width: 4.8rem;
  height: 4.8rem;
}

  /*********************/
 /* EDUCATION SECTION */
/*********************/

  /***********************/
 /* CREDINTIALS SECTION */
/***********************/
.certification {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certification .section-title {
  grid-column: 1 / -1;
}

.certification--card  {
  position: relative;
}

.certification--1 {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.certification--2 {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.certification-btn {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  display: flex;
  padding: 1.4rem 2.8rem;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  align-self: stretch;

  border-radius: 0.7rem;
  border: 1px solid #444BDA;
  background: #4B53F2;

  color: var(--gray-3);
  text-decoration: none;

  transition: 300ms;
}

.certification-btn:hover, .certification-btn:active {
  border: 1px solid #4B53F2;
  background: #5D64F3;
}

.certification-btn:link, .certification-btn:visited {
  border: 1px solid #4B53F2;
  background: #444BDA;
}